.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
test/**
!test/integrated_unit_gtest_and_cdoctest_cmake_ctest/**
build/**
*.vsix
.git/**
.github/**
**/*.spec.js
**/*.test.js
test/e2e/.test-extensions/**
node_modules/**
!node_modules/fast-glob/**
!node_modules/tslib/**
